# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/deps
!/tests
!/docs
!.clang-format
!.gersemirc
!.gitignore
!.gitmodules
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!PROJECT.md
!Setup.md
!SYSTEM_PROMPT.md
!install.ps1
!install.sh

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
